###
# Unity folders and files
###

Game/Logs/*
Game/.vscode/*
*.swp

[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.vscode/settings.json
Game/.vs/Game/FileContentIndex/3c442d74-61a5-43a9-9d10-cb4cc37f6e18.vsidx
Game/.vs/Game/FileContentIndex/9f363204-eada-4443-9ccf-e8aca9558e2c.vsidx
Game/.vs/Game/FileContentIndex/59e95dae-7a9b-449e-9f33-8fba360a1d89.vsidx
Game/.vs/Game/FileContentIndex/1718c1be-7a91-4afc-8a00-ccac9288892b.vsidx
Game/.vs/Game/FileContentIndex/92860c2f-0b94-4bba-99d9-70dca83dbe8f.vsidx
Game/.vs/Game/FileContentIndex/a368487d-fad7-49ad-a8a0-180b36866f06.vsidx
Game/.vs/Game/FileContentIndex/ac4bcbb1-d3f0-4174-8ea9-aa1dba90bc7d.vsidx
Game/.vs/Game/FileContentIndex/e1457215-f4da-409c-ba8a-ca0086da1aff.vsidx
Game/.vs/Game/FileContentIndex/ffab4b36-3f80-403f-8f46-01047ab5f71c.vsidx
Game/.vs/Game/FileContentIndex/read.lock
game/.godot/editor/editor_layout.cfg
game/.godot/editor/editor_layout.cfg
game/.godot/editor/project_metadata.cfg
game/.godot/editor/script_editor_cache.cfg
